.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
build
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
*.iml
*.ipr
*.iws
.idea
.DS_Store
*.orig
